/*频道*/
.cm-channel{
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 5;
    height: rem(88);
    @include background( #fff, '', '', '', '', '' );

    &.animate{
        z-index: 100;
        animation: fadeIn 1s; 
    }
    
    .channel-wrapper{
        white-space: nowrap;
        font-size: 0;
    }

    a{
        display: inline-block;
        margin: 0 rem(40);
        height: 100%;
        color: #333;
        font-size: rem(28);
        line-height: rem(88);
    
        &.current{
            color: #ff7751;
        }
    }

    &.animate a{
        animation: fadeInUp .25s; 
        animation-fill-mode: both; 
    }

    a:nth-of-type(1){
        animation-delay: .1s;
    }

    a:nth-of-type(2){
        animation-delay: .2s;
    }

    a:nth-of-type(3){
        animation-delay: .3s;
    }

    a:nth-of-type(4){
        animation-delay: .4s;
    }

    a:nth-of-type(5){
        animation-delay: .5s;
    }

    a:nth-of-type(6){
        animation-delay: .6s;
    }
}